<p>
  <%= link_to comment.user.name, user_path(comment.user) %>
  <%= comment.content %>
  <% if current_user.admin? %>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>