<div class="site-header">
  <h1>君の広場</h1>
</div>

<div class="site-main">
  <h2>ようこそ、君の広場へ！</h2>
  <p>ここはゲーム好きの人たちのためのコミュニティサイトです。</p>
</div>

<div class="site-login">
  <a href="/users/sign_in">ログインはこちら</a>
  <%= button_to 'ゲストログイン（投稿のみ閲覧可能）', guest_sign_in_path, method: :post, class: 'site-login' %>
</div>

<div class="footer">
  <!-- 利用規約やプライバシーポリシーへのリンク、お問い合わせ情報など -->
</div>