/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
}

.header h1 {
  display: inline;
}

.header a {
  color: #ecf0f1;
  text-decoration: none;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
}

.login-container .field,
.login-container .actions {
  margin-bottom: 10px;
}

.login-container .field label,
.login-container .actions label {
  display: block;
}

.login-container .field input,
.login-container .actions input {
  width: 100%;
  padding: 5px;
}

.login-container .actions {
  text-align: center;
}

.post {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000; /* ボーダーを追加 */
  padding: 20px; /* パディングを追加 */
  margin-bottom: 20px; /* 投稿間のマージンを追加 */
}

.post h3 {
  font-size: 1.5em; /* タイトルのフォントサイズを大きく */
}

.posts-index {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.posts-index h2 {
  text-align: center;
  color: #000000;
}

.posts-index form {
  background-color: #3C3C3C;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.posts-index form label {
  color: #FFFFFF;
}

.posts-index form input[type="text"],
.posts-index form textarea {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  margin-bottom: 10px;
}

.posts-index form input[type="submit"] {
  background-color: #FF4081;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile {
  width: 600px;
  margin: 0 auto;
}

.profile h2 {
  text-align: center;
}

.gamer-profile .profile-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile p {
  margin-bottom: 10px;
}

.profile .post {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile .post h4 {
  margin-top: 0;
}

.profile .post p {
  margin-bottom: 10px;
}

.group-container {
  width: 50%;
  margin: 0 auto;
}

.group-title {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}

.group-form {
  background-color: #242424;
  padding: 20px;
  border-radius: 5px;
}

.group-form-group {
  margin-bottom: 20px;
}

.group-form-label {
  color: #ffffff;
}

.group-form-control {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

.group-submit-btn {
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.group-list-title {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
}

.group-items-container {
  width: 33%;
  margin-bottom: 15px;
  background-color: #242424; /* 背景色を黒に設定 */
  /*padding: 20px;*/
  border-radius: 5px;
  text-align: center;
}

.group-item-title,
.group-item-purpose {
  color: #ffffff;
}

.group-join-btn {
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



.site-header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
}

/* メインコンテンツエリア */
.site-main {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  padding: 20px;
  margin: 20px 0;
}

/* ログインボタン */
.site-login {
  text-align: center;
  margin: 20px 0;
}

input.guest-login {
  display: block;
  margin-top: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: underline;
}

.site-login a {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* メッセージフォーム */
.message-form {
  background-color: #3c5062; /* フォームの背景色を少し明るくします */
  color: #ecf0f1;
  padding: 20px;
  margin-top: 20px; /* 上部のマージンを20pxに設定 */
}

.message-form textarea {
  background-color: #ffffff; /* テキストエリアの背景色を白にします */
  color: #000000; /* テキストエリアのテキスト色を黒にします */
  height: 100px;
  width: 300px;
}

.message-form input[type="submit"] {
  background-color: #27ae60; /* 送信ボタンの背景色を緑にします */
  color: #ffffff; /* 送信ボタンのテキスト色を白にします */
  border: none; /* 送信ボタンのボーダーを削除します */
  padding: 10px 20px; /* 送信ボタンのパディングを追加します */
  cursor: pointer; /* 送信ボタンのカーソルをポインターにします */
}

/* メッセージエリア */
.messages {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  margin: 20px 0;
}

.messages p {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.messages p strong {
  font-weight: bold;
}

.event {
  background-color: #424242; /* ダークテーマのイベントボックスの背景色 */
  border-radius: 10px; /* ボックスの角を丸くする */
  margin: 20px auto; /* 上下に20pxのマージン、左右は自動 */
  padding: 20px; /* ボックス内のパディング */
  max-width: 600px; /* ボックスの最大幅 */
}

.event h3 {
  font-size: 24px; /* イベント名のフォントサイズ */
  margin-bottom: 10px; /* イベント名の下のマージン */
}

.event p {
  font-size: 16px; /* イベント詳細のフォントサイズ */
  line-height: 1.5; /* 行間 */
}

/* イベント作成フォーム */
.event-form {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
}

.member {
  background-color: #424242; /* ダークテーマのメンバーボックスの背景色 */
  border-radius: 10px; /* ボックスの角を丸くする */
  margin: 20px auto; /* 上下に20pxのマージン、左右は自動 */
  padding: 20px; /* ボックス内のパディング */
  max-width: 600px; /* ボックスの最大幅 */
  text-align: center; /* テキストを中央揃えにする */
}

.member img {
  border-radius: 50%; /* 画像を円形にする */
  margin-bottom: 10px; /* 画像と名前の間にマージンを設ける */
}

.member h3 {
  font-size: 24px; /* メンバー名のフォントサイズ */
}

body {
  background-color: #121212;
  color: #ffffff;
}

.gamer-profile {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(36, 36, 36, 0.8); /* 半透明のオーバーレイ */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* ボックスの影 */
}

h2, h3 {
  color: #1e88e5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストの影 */
}

a {
  color: #bb86fc; /* リンクの色 */
}

button {
  background-color: #03dac6; /* ボタンの背景色 */
  color: #000000; /* ボタンのテキスト色 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

button:hover {
  background-color: #018786; /* ホバー時のボタンの背景色 */
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.menu-button {
  background-color: #424242; /* ダークテーマのボタンの背景色 */
  color: #ffffff; /* ボタンのテキストの色 */
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #616161; /* ホバー時のボタンの背景色 */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper div {
  width: 33%;
}
