// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
}

.login-container .field,
.login-container .actions {
  margin-bottom: 10px;
}

.login-container .field label,
.login-container .actions label {
  display: block;
}

.login-container .field input,
.login-container .actions input {
  width: 100%;
  padding: 5px;
}

.login-container .actions {
  text-align: center;
}